.consultation {
    background: url(../img/bg/consultation_bg.png) no-repeat;
    background-size: cover;
    background-position: center center;
    color: white;
    padding-bottom: 85px;
    &__title {
        margin: 100px 0 80px 0;
        text-transform: uppercase;
        color: white;
        font-weight: 700;
    }
    &__subtitle {
        margin-bottom: 40px;
        font-size: 20px;
        font-weight: 500;
    }
    &__input {
        border: none;
        outline: none;
        margin-bottom: 15px;
        padding: 18px 0 18px 18px;
        font-size: 15px;
        border-radius: 5px;
    }
    &__input.error {
        border: 1px solid red;
    }
}
@media (max-width: 565px) {
    .consultation__title {
        margin: 60px 0 50px 0; 
    }
}