$color-grey: #d0d0d0;
$color-dark-grey: #555555;
$color-red: #c70101;
$color-main-red: #DC3545;
$grid-breakpoints: (
  xs: 320px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);